%p
	Want to see your eventbrite events that you're going to on your calendar? Now you can! Click the button to get started.
%a.pure-button.pure-button-primary.pure-button-xlarge{ href: "/auth/eventbrite"}
	Create Feed